@font-face {
    font-family: 'arvobold';
    src: url('../assets/fonts/arvo-bold-webfont.woff') format('woff2'),
         url('../assets/fonts/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold_italic';
    src: url('../assets/fonts/arvo-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoitalic';
    src: url('../assets/fonts/arvo-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoregular';
    src: url('../assets/fonts/arvo-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold';
    src: url('../assets/fonts/candelabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold_italic';
    src: url('../assets/fonts/candelabolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabook';
    src: url('../assets/fonts/candelabook-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelabook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabook_italic';
    src: url('../assets/fonts/candelaitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelaitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'candelabook', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'arvoregular', serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-bottom: 15vh;
}

.icon {
    width: auto;
    height: 2.5rem;
}

.portrait {
    width: 100vw;
    background: linear-gradient(135deg, #0e3007, #0e3007 50%, rgb(207, 205, 205) 50%, white 51.25%, white);
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

.portrait > img {
    width: 80%;
    height: auto;
    margin-top: 3vh;
    box-shadow: 3px 3px 5px 1px black;
    align-self: center;
}

.name {
    position: relative;
    top: -5.5rem;
    left: 12%;
    color: white;
    line-height: 2.5rem;
}

.about {
    position: relative;
    top: -5vh;
}

.about > h2 {
    text-align: center;
}

.about > p {
    font-size: 1.3rem;
}

.social-icons {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.project {
    box-shadow: 1px 5px 10px 2px #c9c7c7;
    padding: 20px;
}

.project-screenshot {
    margin-bottom: 20px;
}

.project-links > .icon {
    height: 1.2rem;
    width: auto;
}

.project-links, .project-footer {
    display: flex;
}

.project-footer {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5px 5px 0;
}

.body-text {
    padding: 5px 0 20px 0;
}

.work {
    gap: 5vh;
}

.contact {
    background-color: #0e3007bd;
    color: white;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.contact-info {
    width: 100%;
}

.personal-photo {
    padding: 0;
    margin: 0;
}