@font-face {
    font-family: 'arvobold';
    src: url('../assets/fonts/arvo-bold-webfont.woff') format('woff2'),
         url('../assets/fonts/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold_italic';
    src: url('../assets/fonts/arvo-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoitalic';
    src: url('../assets/fonts/arvo-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoregular';
    src: url('../assets/fonts/arvo-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold';
    src: url('../assets/fonts/candelabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold_italic';
    src: url('../assets/fonts/candelabolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabook';
    src: url('../assets/fonts/candelabook-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelabook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabook_italic';
    src: url('../assets/fonts/candelaitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/candelaitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'candelabook', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'arvoregular', serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.2rem;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 15vh;
}

.icon {
    width: auto;
}

.bio {
    width: 100vw;
}

.bio > img {
    box-shadow: 3px 3px 5px 1px black;
}

.name {
    color: white;
    text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.473);
}

.about > h2 {
    text-align: center;
}

.about > p {
    font-size: 1.4rem;
}

.project {
    box-shadow: 1px 5px 10px 2px #c9c7c7;
}

.project-screenshot > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-links > .icon {
    height: 1.2rem;
    width: auto;
}

.project-links, .project-footer {
    display: flex;
}

.project-footer {
    justify-content: space-between;
    align-items: flex-start;
}

.body-text {
    padding: 10px 20px 45px;
}

.work {
    gap: 5vh;
}

.contact {
    background-color: #0e3007bd;
    color: white;
}


/* mobile phone */

@media (max-width: 768px) {

    .icon {
        height: 2.5rem;
    }

    .bio {
        align-items: center;
        background: linear-gradient(150deg, #0e3007, #0e3007 32%, rgb(207, 205, 205) 32%, white 33.25%, white);
        padding: 3vh;
    }

    .name {
        position: relative;
        top: -7rem;
        left: 2rem;
        line-height: 3.5rem;
    }

    .about {
        width: 100%;
        position: relative;
        top: -10vh;
    }

    .work {
        padding-bottom: 10vh;
    }

    .project-footer {
        padding: 5px 20px;
    }

    .contact {
        padding: 20px 25px 0 25px;
        margin-bottom: 0;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-details > h2 {
        text-align: center;
    }

    .invite {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .contact-info {
        width: 100%;
    }

    .social-icons {
        padding: 3vh 0 12vh 0;
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

    .personal-photo {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .svg-icon {
        display: none;
    }
}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1279px) {

    .bio {
        display: block;
        background: linear-gradient(160deg, #0e3007, #0e3007 55%, rgba(207, 205, 205, 0.836) 55%, white 55.5%, white);
        position: relative;
        height: 100vh;
        z-index: -1;
        align-items: start;
        justify-content: start;
        padding-top: 7vh;
    }

    .bio > * {
        display: block;
        position: relative;
    }

    .bio > img {
        width: 45vw;
        height: 50vw;
        object-fit: cover;
        float: left;
        margin-right: 25px;
    }

    .about {
        background-color: white;
        height: 90vh;
        width: 75vw;
        z-index: -1;
        box-shadow: 3px 3px 5px 1px #0e300738;
        margin: auto;
        padding: 80px 35px;
    }

    .name {
        position: relative;
        margin: 10px 0;
        left: -7vw;
        z-index: 1;
    }

    .bio > .social-icons {
        display: none;
    }

    .work {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        width: 85vw;
        margin: auto;
        padding-bottom: 25vh;
    }

    .work > .section-header {
        width: 100%;
    }

    .project {
        width: 47%;
    }

    .project-screenshot {
        height: 30vh;
    }

    .project-footer {
        padding: 10px 20px;
    }

    .contact {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 5vh 5vh 5vh 8vh;
        justify-content: space-between;
        height: 90vh;
    }

    .contact-details p {
        font-size: 1.5rem;
    }

    .invite {
        margin: 15px 0;
    }

    .address {
        margin: 30px 0;
    }

    .contact-details > .social-icons {
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-top: 2rem;
    }

    .email, .phone {
        display: flex;
        align-items: center;
        gap: 2vw;
    }
    
    .icon {
        height: 3.5rem;
    }

    .svg-icon {
        height: 1.5rem;
        fill: white;
        float: left;
    }

    .personal-photo > img {
        height: 74vh;
    }
}

@media only screen and (min-width: 1280px) {
    .bio {
        background: linear-gradient(170deg, #0e3007, #0e3007 68%, rgba(207, 205, 205, 0.836) 66%, white 66.5%, white);
        flex-direction: row;
        height: 38vw;
        align-items: start;
        padding: 3vw 4vw;
    }

    .bio > * {
        position: absolute;
    }

    .bio > img, .name {
        width: 28vw;
    }

    .bio > img {
        height: 32vw;
        object-fit: cover;
        z-index: 1;
    }

    .name {
        top: calc(35vw - 4rem);
        font-size: 3rem;
        z-index: 2;
        text-align: center;
    }

    .about {
        background-color: white;
        box-shadow: 3px 3px 5px 1px #0e300738;
        width: 65vw;
        top: 5.5vw;
        left: 32vw;
        height: 27vw;
        padding: 0 30px 5.5rem 25px;
    }

    .about > h2 {
        font-size: 2rem;
        margin-top: 1rem;
        text-align: left;
        padding: 1rem 0;
    }

    .bio > .social-icons {
        right:  calc(3vw + 25px);
        top: calc(32.5vw - 5rem);
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .work {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    .work > .section-header {
        width: 100%;
    }

    .project {
        width: 30%;
    }

    .project-screenshot {
        height: 30vh;
    }

    .project-footer {
        padding: 10px 20px;
    }

    .contact {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 5vw 5vw 5vw 5vw;
        justify-content: space-between;
        align-items: flex-start;
        height: 45vw;
    }

    .contact-details p {
        font-size: 1.5rem;
    }

    .invite {
        margin: 15px 0;
    }

    .address {
        margin: 30px 0;
    }

    .contact-details > .social-icons {
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-top: 2rem;
    }

    .email, .phone {
        display: flex;
        align-items: center;
        gap: 2vw;
    }
    
    .icon {
        height: 3.5rem;
    }

    .svg-icon {
        height: 1.5rem;
        fill: white;
        float: left;
    }

    .personal-photo > img {
        height: 36vw;
        width: 52vw;
        object-fit: cover;
    }
}